<div class="top-row">
    <div hx-get='/tokenupdate' hx-trigger='load' hx-target='#tokens' hx-swap='innerHTML'></div>
    {{ range .Messages }}
    <div style="display: flex;">
        <div class="agent">{{ .Role }}</div>
        <div id="reply-{{ .Index }}" class="message">
            <pre style="white-space: pre-wrap; font-family: inherit;">{{ .Content }}</pre>
        </div>
        <div class="editbutton">
            <form hx-get="/edit" hx-target="#reply-{{ .Index }}" hx-swap="outerHTML">
            <button class="editbutton" name="messageid" value="{{ .Index }}">Edit</button>
            </form>
            <form hx-post="/delete" hx-target="#main-content" hx-swap="innerHTML">
            <button class="editbutton" name="messageid" value="{{ .Index }}">Delete</button>
            </form>
        </div>
    </div>
    {{ else }}
    <div id="chattext" style="display: block;"><p style="text-align: center;">Start asking questions!</p></div>
    {{ end }}
    <div id="chattext" hx-get="/scroll" hx-trigger="load" hx-target="this" hx-swap="none, show:bottom"></div>    
</div>

<div class="bottom-row">
    <form id="chatForm" hx-post="/clearchat" hx-target="#chatinput" hx-swap="outerHTML">
    <div class="chatForm">
        <div id="chatbox" class="chatbox">
            <textarea id="chatinput" type="text" name="text" autocomplete="off" tabindex="1"></textarea>
        </div>
        <div class="chatsubmitclear">
            <button style="height: 100%;" hx-post="/clearchat" hx-target="#chatinput" hx-trigger="keydown[keyCode==13&&shiftKey!=true] from:#chatbox" hx-swap="outerHTML">Submit</button>
            <button style="margin-top: auto;" hx-post="/clear" hx-target="#main-content" hx-swap="innerHTML">Clear Chat</button>
        </div>
    </div>
    <div class="mobile" hx-trigger="changed" hx-get="/sidebar/off" hx-target="#sidebar" hx-swap="outerHTML"></div>
    </form>
</div>


