{{ .Header }}
  <div class="agent">{{ .Role }}</div>
  <div id="reply-{{ .Index }}" class="content">
      <pre style="white-space: pre-wrap; font-family: inherit;">{{ .Content }}</pre>
      {{ .Function }}
  </div>
  <div class="editbutton">
      <button hx-get="/chat/edit/{{ .Index }}" hx-target="#reply-{{ .Index }}">Edit</button>
      <button hx-delete="/chat/edit/{{ .Index }}" hx-target="#main-content">Delete</button>
  </div>
</div>
<div id="response" hx-select="#message" hx-target="this" hx-put="/chat/" hx-trigger="load" hx-swap="outerHTML show:bottom" hx-indicator="#chatloading" style="background-color: #393939"></div>
<textarea id="chatinput" type="text" name="text" autocomplete="off" tabindex="1"></textarea>
<div id="welcometext" hx-swap-oob="outerHTML:#welcometext"></div>