<table class="top-row" id="top-row">
    <table style='display: flex;'>
        <tr id="chattext" hx-get="/loadmessages" hx-target="#top-row" hx-swap="innerHTML" hx-trigger="load">
        </tr>
    </table>
    <table class="bottom-row">
        <tr><td><form id="chatForm" hx-post="/clearchat" hx-target="#chatinput" hx-swap="outerHTML">
            <div id="inputbox">
                <textarea id="chatinput" type="text" name="text" autocomplete="off" style="float: left;" tabindex="1"></textarea>
            </div>
            <div>    
                <button class="btn" hx-post="/clearchat" hx-target="#chatinput" hx-trigger="keydown[keyCode==13&&shiftKey!=true] from:#inputbox" hx-swap="outerHTML">Submit</button>
            </div>
            <div>
                <button class="btn" hx-post="/clear" hx-target="#main-content" hx-swap="innerHTML">Clear Chat</button>
            </div>
        </form> </td></tr>
    </table>
</table>