<table id="top-row" class="top-row">
    {{ range .Messages }}
    <tr>
        <td class="agent">{{ .Role }}</td>
        <td id="reply-{{ .Index }}" class="message">
            <pre style="white-space: pre-wrap; font-family: inherit;">{{ .Content }}</pre>
        </td>
        <td class="editbutton">
            <form hx-get="/edit" hx-target="#reply-{{ .Index }}" hx-swap="outerHTML">
                <button class="btn" name="messageid" value="{{ .Index }}">Edit</button>
            </form>
            <form hx-post="/delete" hx-target="#main-content" hx-swap="innerHTML">
                <button class="btn" name="messageid" value="{{ .Index }}">Delete</button>
            </form>
        </td>
    </tr>
    {{ else }}
    <tr><td><div hx-get='/tokenupdate' hx-trigger='load' hx-target='#tokens' hx-swap='innerHTML' id='centertext'>Start asking questions!</div></td></tr>
    {{ end }}
    <tr id="chattext" hx-get="/scroll" hx-trigger="load" hx-target="this" hx-swap="none, show:bottom"></tr>
</table>
<table class="bottom-row">
    <tr class="chatbox"><td><form id="chatForm" hx-post="/clearchat" hx-target="#chatinput" hx-swap="outerHTML">
        <div id="inputbox">
            <textarea id="chatinput" type="text" name="text" autocomplete="off" tabindex="1"></textarea>
        </div>
        <div>    
            <button class="btn" hx-post="/clearchat" hx-target="#chatinput" hx-trigger="keydown[keyCode==13&&shiftKey!=true] from:#inputbox" hx-swap="outerHTML">Submit</button>
        </div>
        <div>
            <button class="btn" hx-post="/clear" hx-target="#main-content" hx-swap="innerHTML">Clear Chat</button>
        </div>
    </form><div class="mobile" hx-trigger="intersect" hx-get="/sidebar/off" hx-target="#sidebar" hx-swap="outerHTML"></div>
</td></tr>
</table>
