<div style="display: flex; flex-direction: column; margin-top: 5%" class="centertext">
    <div class="mobile" hx-trigger="intersect" hx-delete="/sidebar/" hx-target="#sidebar" hx-swap="outerHTML"></div>
    <div style="width: 50%;">
        <button hx-get="/chat/" hx-target="#main-content" hx-swap="innerHTML scroll:#top-row:bottom">Back</button>
        <p><h3>Saved Chats</h3></p>
        {{ range .Filelist }}
        <div style="display: flex;" id="savedchat-{{ . }}">
            <div style="text-align: left; float: left;">{{ . }}</div>
            <div style="float: right; margin-left: auto; display: inline;">
                <button hx-get='/chat/data/{{ . }}' hx-target='#main-content' hx-swap='innerHTML scroll:#top-row:bottom'>Load</button>
                <button hx-delete='/chat/data/{{ . }}' hx-target='#savedchat-{{ . }}' hx-swap='outerHTML' hx-confirm='Are you sure?'>Delete</button>
            </div>
        </div>
        {{ else }}
        <p>No saved files</p>
        {{ end }}
    </div>
</div>

