<div class="main-content" id="main-content">
    <table id="centertext">
        <tr class='page' id="centertext">
            <td><h3>Function Editor</h3></td>
        </tr>
        <tr>
            <td><button class="btn" hx-get='/functions' hx-target='#main-content' hx-swap='outerHTML'>Back</button></td>
        </tr>
        <tr>
            <td>
            <form hx-post="/functionset" hx-target="#main-content" hx-swap="outerHTML">
                <p>Function name:</p><input name="functionname" value="{{ .Name }}"><br>
                <p>Function description:</p><textarea name="functiondescription" rows="3" style="height: 100%;">{{ .Description }}</textarea><br>
                <p>Function arguments:</p><textarea name="edittext" rows="10" style="height: 100%;">{{ .Parameters }}</textarea>
                <br>
                <table style="display: flex;" id="centertext">
                    <tr>
                        <td><button class="btn">Set</button></td>
                        <td><button class="btn" hx-post="/functionsave" hx-target="#main-content" hx-swap="outerHTML">Save</button></td>
                        <td><button class="btn" hx-get='/functions' hx-target='#main-content' hx-swap='outerHTML'>Back</button></td>
                    </tr>
                </table>
            </form>
            </td>
        </tr>
    </table>
</div>