<div class="main-content" id="main-content">
    <table style="display: flex;" id="centertext">
        <tr style="display: flex;" id="centertext">
            <td><h3>Functions</h3></td>
        </tr>
        <tr style="display: flex;" id="centertext">
            <td><button hx-get="/functioneditadd" hx-target="#main-content" hx-swap="outerHTML"class="btn">New</button></td><td><a href="/"><button class="btn">Back</button></a></td>
        </tr>
        <tr></tr>
        <tr>
            <td><p>Current functions:</p>
            {{ .CurrentFunctions }}</td>
        </tr>
        <tr>
            <td><p>Saved functions:</p>
            {{ .SavedFunctions }}</td>
        </tr>
        <div class="mobile" hx-trigger="intersect" hx-delete="/sidebar/" hx-target="#sidebar" hx-swap="outerHTML"></div>
    </table>
</div>