<div style="display: flex; flex-direction: column; margin-top: 5%" class="centertext">
    <div class="mobile" hx-trigger="intersect" hx-delete="/sidebar/" hx-target="#sidebar" hx-swap="outerHTML"></div>
    <div style="width: 50%;">
        <button hx-get='/function/' hx-target='#main-content'>Back</button>
        <p><h3>Function Editor</h3></p>
        <p>Function name:</p><input id="functionname" name="functionname" value="{{ .Name }}"><br>
        <p>Function description:</p>
        <div><textarea id="functiondescription" name="functiondescription" rows="3">{{ .Description }}</textarea></div>
        <p>Function arguments:</p>
        <div><textarea id="edittext" name="edittext" rows="10">{{ .Parameters }}</textarea></div>
        <div style="display: inline;" hx-target="#main-content" hx-include="#functionname, #functiondescription, #edittext">
            <button hx-post="/function/">Set</button>
            <button hx-post="/function/data/">Save</button>
            <button hx-get='/function/'>Back</button>
        </div>
    </div>
</div>