<div style="display: flex; flex-direction: column; margin-top: 5%" class="centertext">
    <div class="mobile" hx-trigger="intersect" hx-delete="/sidebar/" hx-target="#sidebar" hx-swap="outerHTML"></div>
    <div style="width: 50%;">
        <div style="display: inline;" hx-target="#main-content">
            <button hx-patch="/function/">New</button>
            <button hx-get="/chat/" hx-swap="scroll:#top-row:bottom">Back</button>
        </div>
        <p><h3>Functions</h3></p>
        <p>Current functions:</p>
        {{ range .Currentfunctions }}
        <div style="display: flex;">
		    <div style="text-align: left; float: left;">
                {{ .Name }}:<br>
                {{ .Description }}
            </div>
            <div style="float: right; margin-left: auto; display: inline;" hx-target='#main-content'>
                <button hx-patch='/function/{{ .Name }}'>Edit</button>
                <button hx-delete='/function/{{ .Name }}'>Remove</button>
           </div>
        </div>
        {{ end }}
        <p>Saved functions:</p>
        {{ range .Savedfunctions }}
        <div style="display: flex;">
		    <div style="text-align: left; float: left;">{{ . }}</div>
            <div style="float: right; margin-left: auto; display: inline;" hx-target='#main-content'>
	            <button hx-get='/function/data/{{ . }}'>Load</button>
                <button hx-delete='/function/data/{{ . }}' hx-confirm='Are you sure?'>Delete</button>
            </div>
        </div>
        {{ end }}
    </div>
</div>