<tr style="background-color: #393939; display: inline-block;"  hx-get="/tokenupdate" hx-trigger="load" hx-target="#tokens" hx-swap="innerHTML">
  <td>
    <div class="agent">AI</div>
  </td>
  <td id="reply-{{.MessageID}}">
    <div class="message" messageid={{.MessageID}} style="float: left;">
    <pre style="white-space: pre-wrap; font-family: inherit;">{{ .Message }}</pre>

    </div>
    <div>
      <form hx-get="/runfunctionload" hx-target="#chattext" hx-swap="outerHTML">
        {{ .Run }}
      </form>
    </div>
    <div class="editbutton">
        <form hx-get="/edit" hx-target="#reply-{{.MessageID}}" hx-swap="outerHTML">
            <input type="hidden" name="messageid" value={{.MessageID}}>
            <button class="btn">Edit</button>
        </form>
        <form hx-post="/delete" hx-target="#top-row" hx-swap="innerHTML">
            <input type="hidden" name="messageid" value={{.MessageID}}>
            <button class="btn">Delete</button>
        </form>
    </div>
  </td>
</tr>
<tr id="chattext" hx-get="/scroll" hx-trigger="load" hx-target="this" hx-swap="none, show:bottom"></tr>