<div style="display: flex; flex-direction: column; margin-top: 5%" class="centertext">
    <div class="mobile" hx-trigger="intersect" hx-delete="/sidebar/" hx-target="#sidebar" hx-swap="outerHTML"></div>
    <div style="width: 50%;">
        <button class="btn" hx-get="/chat/" hx-target="#main-content" hx-swap="innerHTML scroll:#top-row:bottom">Back</button>
        <p><h3>Prompt Editor</h3></p>
        <div><p>Prompt name:</p><input id="promptname" name="promptname" value="{{ .Name }}"></div>
        <div><p>Prompt description:</p><textarea id="promptdescription" name="promptdescription" rows="3">{{ .Description }}</textarea></div>
        <div><textarea id="edittext" name="edittext" rows="10">{{ .Parameters }}</textarea></div>
        <div style="display: inline;" hx-target="#main-content" hx-swap="innerHTML" hx-include="#promptname, #promptdescription, #edittext">
            <button class="btn" hx-post="/prompt/set/">Set</button>
            <button class="btn" hx-post="/prompt/save/">Save</button>
            <button class="btn" hx-get="/chat/" hx-swap="innerHTML scroll:#top-row:bottom">Back</button>
        </div>
    <p><h4>Saved Prompts</h4></p>
    {{ .SavedPrompts }}
    </div>
</div>