<tr style="background-color: #393939;">
    <td class="agent">System</td>
    <td class="message" id="centertext">
      <form hx-post="/save" hx-target="this" hx-swap="outerHTML">
        <input name="filename" value="{{ .Filename }}"><button class="menubtn">Save</button>
      </form>
      <div class="mobile" hx-trigger="intersect" hx-get="/sidebaroff" hx-target="#sidebar" hx-swap="outerHTML"></div>
    </td>
    <td class="editbutton"></td>
</tr>
<tr id="chattext" hx-get="/scroll" hx-trigger="load" hx-target="this" hx-swap="none, show:bottom"></tr>