<div class="sidebar" id="sidebar" hx-target="#main-content">
    <button hx-delete="/sidebar/" hx-target="#sidebar" hx-swap="outerHTML">Hide Menu</button>
    <p id="tokens" class="centertext" hx-get="/tokenupdate/" hx-trigger="tokenupdate from:body" hx-target="this"></p>
    <button hx-post="/chat/clear/">Clear Chat</button>
    <button hx-get="/chat/" hx-swap="innerHTML scroll:#top-row:bottom">Chat Screen</button>
    <button hx-post="/chat/reset/" hx-confirm="Are you sure?">Reset Chat</button>
    <button hx-get="/prompt/">Edit System Prompt</button>
    <button hx-get="/function/">Functions</button>
    <button hx-get="/settings/">Settings</button>
    <button hx-get="/chat/files/">Load Chat</button>
    <button hx-get="/chat/save/" hx-target="#chatloading" hx-swap="beforebegin scroll:#top-row:bottom">Save Chat</button>
    <p>
        <div id="autofunctiontoggle" hx-get="/autofunction/" hx-target="this" hx-trigger="load"></div>
        <div id="autorequestfunctiontoggle" hx-get="/autorequestfunction/" hx-target="this" hx-trigger="load"></div>
    </p>
</div>
