<div class="sidebar" id="sidebar" style="order: -1; width: 100%;">
    <div id="lookatthesidebar" hx-get="/scroll" hx-trigger="load" hx-target="this" hx-swap="none, show:top"></div>
    <div>
        <button class="menubtn" hx-get="/sidebar/off" hx-target="#sidebar" hx-swap="outerHTML">Hide Menu</button>
    </div>
    <br>
    <div id="tokens" hx-get="/tokenupdate" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
    </div>
    <br>
    <div>
        <button class="menubtn" hx-post="/clear" hx-target="#main-content" hx-swap="innerHTML">Clear Chat</button>
    </div>
    <div>
        <button class="menubtn" hx-get="/loadchatscreen" hx-target="#main-content" hx-swap="innerHTML">Chat Screen</button>
    </div>
    <div>
        <button class="menubtn" hx-post="/reset" hx-target="#main-content" hx-swap="innerHTML" hx-confirm="Are you sure?">Reset Chat</button>
    </div>
    <div>
        <button class="menubtn" hx-get="/prompteditpage" hx-target="#main-content" hx-swap="outerHTML">Edit System Prompt</button>
    </div>
    <div>
        <button class="menubtn" hx-get="/functions" hx-target="#main-content" hx-swap="outerHTML">Functions</button>
    </div>
    <div>
        <button class="menubtn" hx-get="/settings/" hx-target="#main-content" hx-swap="outerHTML">Settings</button>
    </div>
    <div>
        <button class="menubtn" hx-get="/loadchat" hx-target="#main-content" hx-swap="outerHTML">Load Chat</button>
    </div>
    <div><form hx-get="/save/" hx-target="#chattext" hx-swap="outerHTML">
        <button class="menubtn">Save Chat</button>
    </form></div>
    <br>
    <div id="autofunctiontoggle">
        <div hx-post="/autofunctionstatus" hx-target="#autofunctiontoggle" hx-swap="innerHTML" hx-trigger="load"></div>
    </div>
    <div id="autorequestfunctiontoggle">
        <div hx-post="/autorequestfunctionstatus" hx-target="#autorequestfunctiontoggle" hx-swap="innerHTML" hx-trigger="load"></div>
    </div>
</div>