<table>
<tr>
  <td>
    <div class="agent">User</div>
  </td>
  <td id="reply-{{.MessageID}}"  class="message">
    <div messageid={{.MessageID}}>
        <pre style="white-space: pre-wrap; font-family: inherit;">{{ .Usertext }}</pre>
        </div></td><td>
    <div class="editbutton" style="float: right;">
        <form hx-get="/edit" hx-target="#reply-{{.MessageID}}" hx-swap="outerHTML">
            <input type="hidden" name="messageid" value={{.MessageID}}>
            <button class="btn">Edit</button>
        </form>
        <form hx-post="/delete" hx-target="#top-row" hx-swap="innerHTML">
            <input type="hidden" name="messageid" value={{.MessageID}}>
            <button class="btn">Delete</button>
        </form>
    </div>
  </td>
</tr>
</table>
<table id="chattext" hx-target="this" hx-post="/chat" hx-trigger="load" hx-swap="outerHTML" style="background-color: #393939">
<tr>
  <td style="text-align: center;">
    <div>Loading...</div>
  </td>
  <td>
      <div hx-get="/scroll" hx-trigger="load" hx-target="this" hx-swap="none, show:bottom"></div>
  </td>
</tr>
</table>
