<tr>
  <td class="agent">user</td>
  <td id="reply-{{.MessageID}}" class="message">
        <pre style="white-space: pre-wrap; font-family: inherit;">{{ .Usertext }}</pre>
  </td>
  <td class="editbutton">
      <form hx-get="/edit" hx-target="#reply-{{.MessageID}}" hx-swap="outerHTML">
          <input type="hidden" name="messageid" value={{.MessageID}}>
          <button class="btn">Edit</button>
      </form>
      <form hx-post="/delete" hx-target="#top-row" hx-swap="innerHTML">
          <input type="hidden" name="messageid" value={{.MessageID}}>
          <button class="btn">Delete</button>
      </form>
  </td>
</tr>
<tr id="chattext" hx-target="this" hx-post="/chat" hx-trigger="load" hx-swap="outerHTML" style="background-color: #393939">
  <td class="agent">
    <div hx-get="/scroll" hx-trigger="load" hx-target="this" hx-swap="none, show:bottom"></div>
  </td>
  <td class="message" id="centertext">
    Loading...
  </td>
</tr>
