@media only screen and (max-width: 800px) {
    button {
        width: 100%;
    }
    .sidebar {
        position: absolute;
        width: 100%;
        }
    
    .top-row {
        height: 80%;  
    }

    .bottom-row {
        height: 20%;
        }
    
    .chatbox {
        display: block;
    }

    .chatsubmitclear {
        width: 100%;
        height: 50% ;
    }

    #floating-button {
        width: 100%;
        top: 0px;
        left: 0px;
    }

    .mobile {
        display: flex;
    }

    .nonmobile {
        display: none;
    }
}