html, body {
    /* height: 100%; */
    /* width: 100%; */
    /* margin: 0; */
    font-size: 18px;
    /* overflow: auto; */
    color: rgb(232, 230, 227);
    background-color: #202324;
    }

button {
    padding: 10px 5px;
    /* display: block; */
    /* margin: auto; */
    font-size: 14px;
    color: rgb(232, 230, 227);
    background-color: #454a4d;
    border-color: #000;
    outline-color: #000;
    background-color: #454a4d;
}

.menubtn {
    width: 100%;
}

.btn {
    width: 7vw;
}

#floating-button {
    background-color: rgba(69, 74, 77, 0.8);
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
  }
  
textarea {
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: rgb(232, 230, 227);
    background-color: #454a4d;
}
/* textarea {
    height: 15vh;
    width: calc(100% - 10vw);
    border: none;
    resize: none;
    font-size: 18px;
    color: rgb(232, 230, 227);
    background-color: #454a4d;
    } */

input {
    font-size: 18px;
    color: rgb(232, 230, 227);
    background-color: #454a4d;
}

.container {
    display: flex;
    /* position: relative; */
}

.sidebar {
    width: 15vw;
    float: left;
    background-color: #202324;
    /* position: fixed;
    top: 0;
    left: 0;
    bottom: 0; */
    /* z-index: 3; */
    /* border-right: 2px solid #000; */
}

.maincontent {
    float: right;
    margin-left: auto;
}

.top-row {
    overflow-y: scroll;
    height: 85%;
    /* top: 0; */
    /* right: 0; */
    /* position: fixed; */
    z-index: 1;
}

.bottom-row {
    height: 15%;
    width: 100%;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    background-color: #202324;

}

#chatscreen {
    width: 100%;
}

/* .bottom-row {
    width: 85%;
    margin-left: 15%;
    height: 15vh;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    } */

#centertext {
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    width: 100%;
    }

.agent {
    width: 8vw;
    /* float: left; */
    text-align: center;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    }

.message {
    /* width: 100%; */
    /* float: center; */
    /* justify-content: left;
    align-items: left; */
    /* text-align: left; */
    border-bottom: 1px solid #000;
    }

.agent, .message {
    /* box-sizing: border-box; */
    /* padding: 10px; */
}

.chatsubmitclear {
    display: flex;
    flex-direction: column;
    float: right; 
    margin-left: auto;
    height: auto;
}

.editbutton {
    width: 7vw;
    /* float: right; */
    margin-left: auto;
}

.page {
    display: flex;
    padding-top: 5vh;
}
/* 
table {
    overflow-y: auto;
    width: max-content;
    text-align: left;
} */

.mobile {
    display: none;
}

.nonmobile {
    display: flex;
}

@media (prefers-color-scheme: dark) {
    /* disable darkmode invert since it's already dark */
    }